@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: salmon;
}

h4 {
  margin-top: 10px;
}

button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}
